In [1]:
import pandas as pd

In [3]:
data=[1,2,3]
Df=pd.DataFrame(data,index=("a","b","c"))
print(Df)

   0
a  1
b  2
c  3

In [5]:
data={'name':["a,"],"age":[20]}
Df=pd.DataFrame(data,)
print(Df)

  name  age
0   a,   20

In [10]:
data=[{'a':10,"b":20},{"a":30,"b":40,"c":50}]
print(pd.DataFrame(data))

    a   b     c
0  10  20   NaN
1  30  40  50.0

In [11]:
data=[{'a':10,"b":20},{"c":30,"d":40,"e":50},{"xx":22,"yy":33}]
print(pd.DataFrame(data))

      a     b     c     d     e    xx    yy
0  10.0  20.0   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN  30.0  40.0  50.0   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN  22.0  33.0

In [19]:
data=[{'a':10,"b":20},{"c":30,"d":40,"e":50}]
df=pd.DataFrame(data,index=["first","second"],columns=["a","b","c"])
df1=pd.DataFrame(data,index=["xx","yy"],columns=["a","b","c","d","e"])
print(df)
print(df1)

           a     b     c
first   10.0  20.0   NaN
second   NaN   NaN  30.0
       a     b     c     d     e
xx  10.0  20.0   NaN   NaN   NaN
yy   NaN   NaN  30.0  40.0  50.0

In [23]:
data=[{'a':10,"b":20},{"c":30,"d":40,"e":50}]
df=pd.DataFrame(data,index=["0","1"],columns=["c","d","e"])
print(df)

      c     d     e
0   NaN   NaN   NaN
1  30.0  40.0  50.0

In [31]:
data={"one":pd.Series([1,2,3],index=("a","b","c")),"two":pd.Series([11,222,33],index=("a","b","c"))}
df=pd.DataFrame(data)
df["three"]=pd.Series([10,20,30],index=("a","b","c"))
df["four"]=df["one"]+df["two"]
print(df)
print(df[1:4])

   one  two  three  four
a    1   11     10    12
b    2  222     20   224
c    3   33     30    36
   one  two  three  four
b    2  222     20   224
c    3   33     30    36

In [42]:
data={"one":pd.Series([1,2,3],index=("a","b","c")),"two":pd.Series([11,222,33],index=("a","b","c"))}
df=pd.DataFrame(data)
df["three"]=pd.Series([10,20,30],index=("a","b","c"))
df["four"]=df["one"]+df["two"]

print(df[::-2])

   one  two  three  four
c    3   33     30    36
a    1   11     10    12

In [61]:
data={"one":pd.Series([1,2,3],index=("a","b","c")),"two":pd.Series([11,222,33],index=("a","b","c"))}
df=pd.DataFrame(data)
df["three"]=pd.Series([10,20,30],index=("a","b","c"))
df["four"]=df["one"]+df["two"]
print(df)
print("\n\n")
x=df.pop("one")
print(df)
print("\n\n")
del df["two"]
print(df)

   one  two  three  four
a    1   11     10    12
b    2  222     20   224
c    3   33     30    36



   two  three  four
a   11     10    12
b  222     20   224
c   33     30    36



   three  four
a     10    12
b     20   224
c     30    36

In [68]:
data={"one":pd.Series([1,2,3],index=("a","b","c")),"two":pd.Series([11,222,33],index=("a","b","c"))}
df=pd.DataFrame(data)
df["three"]=pd.Series([10,20,30],index=("a","b","c"))
df["four"]=df["one"]+df["two"]
df2=pd.DataFrame([[100,200],[300,400]],index=["d","e"],columns=["a","b"])
df.append(df2)
print(df)
print("\n\n")
print(Df)

   one  two  three  four
a    1   11     10    12
b    2  222     20   224
c    3   33     30    36



   one    two  three   four      a      b
a  1.0   11.0   10.0   12.0    NaN    NaN
b  2.0  222.0   20.0  224.0    NaN    NaN
c  3.0   33.0   30.0   36.0    NaN    NaN
0  NaN    NaN    NaN    NaN  100.0  200.0
1  NaN    NaN    NaN    NaN  300.0  400.0

In [73]:
data=pd.DataFrame([{"c":30,"d":40,"e":50}])
data1=pd.DataFrame([{"x":30,"y":40,"z":50}])
print(pd.concat([data,data1]))

      c     d     e     x     y     z
0  30.0  40.0  50.0   NaN   NaN   NaN
0   NaN   NaN   NaN  30.0  40.0  50.0

In [74]:
cat=pd.Categorical(["1","2","3","4","5"])
print(cat)

['1', '2', '3', '4', '5']
Categories (5, object): ['1', '2', '3', '4', '5']